#allpage{
    position: relative;
}
ul.wordlist li{
    border-bottom: 1px solid white;
}
ul.wordlist h2{
    text-align: center;
    color: #7e57c2;
}
#card{
    width: 15rem;
    height: 25rem;
    overflow: auto;
}
.add-btn{
    z-index: 100;
    background: #4db6ac;
    position: absolute;
    right: .5rem;
    top: 3.3rem;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;  
    border:1px solid #7986cd;
    text-align: center;
    line-height: 3.5rem;
}

.icon-add{
    font-size: 4rem;
    line-height: 3rem;
    text-decoration: none;
    color: #feffef !important;
}
.ui-icon-mydelete::after{
    background: url('../icons/delete.png') no-repeat;
    background-size: 100%;
    border-radius: 0;
}