#allpage{
    position: relative;
}
#card{
    width: 15rem;
    height: 25rem;
    overflow: auto;
}
.add-btn{
    position: absolute;
    right: 1rem;
    bottom: 3rem;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;  
    border:1px solid gray;
    text-align: center;
    line-height: 3.5rem;
}

.iconfont{
    font-size: 3rem !important;
    text-decoration: none;
    color: gray !important;
}
.ui-icon-mydelete::after{
    background: url('../icons/delete.png') no-repeat;
    background-size: 100%;
    border-radius: 0;
}